<h2>Каталог продуктов</h2>
<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>Название</td>
        <td>Количество</td>
        <td>Стоимость</td>
        <td>Сумма</td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in productsList">
        <td>{{p.id}}</td>
        <td>{{p.title}}</td>
        <td>{{p.count}}</td>
        <td>{{p.price}}</td>
        <td>{{p.sum}}</td>
        <td>
            <button type="button" class="btn btn-primary" ng-click="deleteFromCart(p.id)" >-</button>
        </td>

    </tr>
    </tbody>
</table>
<br>
<button type="button" class="btn btn-primary" ng-click="makeOrder()" >Оформить заказ</button>